body{
	margin: 0;
	width: 100%;
}

header{
	background-color: lightblue;
	height: 100px;
}

#logo{
	float:left;
	height: 100px;
}

nav{
	text-align:right;
}

li{
	width:150px;
	display: inline-block;
	list-style: none;
	text-align: center;
	line-height: 100px;
	color: black;
}

footer{
	margin: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align:center;
}