body{
	margin: 0;
	width: 100%;
}

header{
	background-color: lightblue;
	height: 100px;
	position: sticky;
	top: 0;
}

#logo{
	float:left;
	height: 100px;
}

nav{
	text-align:right;
}

ul{
	margin: 0;
}

li{
	width:150px;
	display: inline-block;
	list-style: none;
	text-align: center;
	line-height: 100px;
	color: black;
}

#promo{
	text-align: center;
}

#promo div img{
	width: 300px;
}

div{
	width: 300px;
	display: inline-block;
}

div.row{
	width: auto;
	display: block;	
}

footer{
	margin: 0;
	position:sticky;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align:center;
}